<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Типо GeoGuesser</title>
</head>
    <body>
    <header>
        <h2>GeoGuesser</h2>
        <h3>{{text}}</h3>
    </header>
    <p><img src="static/map0.png" width="600" height="450" alt="разрабы дауны"/></p>
    <!--<img src="static/download.jpg" width="450" height="300" alt="разрабы дауны"/>-->
<p>
    <form action="/1" method="post">
  <button name="forwardBtn" type="submit">+</button>
</form>
    <form action="/2" method="post">
  <button name="forwardBtn" type="submit">-</button>
</form>
    <form action="/UP" method="post">
  <button name="forwardBtn" type="submit">UP</button>
</form>
    <form action="/RIGHT" method="post">
  <button name="forwardBtn" type="submit">RIGHT</button>
</form>
    <form action="/DOWN" method="post">
  <button name="forwardBtn" type="submit">DOWN</button>
</form>
    <form action="/LEFT" method="post">
  <button name="forwardBtn" type="submit">LEFT</button>
</form>
    <form action="/MAP" method="post">
  <button name="forwardBtn" type="submit">change map</button>
</form>
    </p>
    </body>
</html>
